body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas#eyes-pattern {
    display: block;
    width: 100%;
}

.lil-gui {
    --width: 450px;
    max-width: 90%;
    --widget-height: 20px;
    font-size: 15px;
    --input-font-size: 15px;
    --padding: 10px;
    --spacing: 10px;
    --slider-knob-width: 5px;
    --background-color: rgba(5, 0, 15, .8);
    --widget-color: rgba(255, 255, 255, .3);
    --focus-color: rgba(255, 255, 255, .4);
    --hover-color: rgba(255, 255, 255, .5);

    --font-family: monospace;
}

.lil-gui.autoPlace {
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
}